@use "./mixins" as *;

// 共通設定ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text); //文字の色
  line-height: 2; //行間を1文字分とる
  font-family: "Shippori Mincho", serif; //　フォントの指定
}

// 画像の指定
img {
  display: block; //画像は最初からdisplay: block;にしとく。後で下の余白とか気にせずするため。
}

// リンクの指定
a {
  color: var(--primary);
  text-decoration: none; //aタグの下線を消す

  &:hover {
    color: var(--secondary); //ホバーした時の文字の色
  }
}

// リストスタイルの指定
ul,
ol {
  list-style: none; //リストスタイルを消す。箇条書きの黒丸を消す。
}

// 共通パーツ
.container {
  max-width: 1200px;
  margin-left: auto; //中央揃え
  margin-right: auto; //中央揃え
  padding-left: 5%;
  padding-right: 5%;
}

.section {
  padding-top: 100px;
  padding-bottom: 50px;

  &__head {
    width: 250px;
    padding-bottom: 8px; //見出しの下に16pxの余白
    position: relative;
    text-align: center; //箱の中で文字が中央に配置される
    font-weight: normal; //元々太字のフォントなので文字の太さを普通にする

    // 擬似要素で見出しのスタライブ方の下線をつくる
    &::after {
      //ストライプの下線の箱のサイズと位置の指定
      content: "";
      position: absolute; //見出しの下に置きたいのでabsoluteをかけて見出しを基準にbottom: 0;で下にくる。
      bottom: 0; //見出しの下余白の16pxにくっつく
      left: 0;
      width: 100%;
      height: 7px; //下線の高さ（縦の幅）

      //下線のストライプ
      --size: 2px; //ストライプのサイズ。変数を使うことでスタイルプの数値をここで直すだけ連動して下の変数の中身が変わる。
      background: repeating-linear-gradient(-45deg,
          #ffffff 0,
          #ffffff var(--size),
          var(--secondary) var(--size),
          var(--secondary) calc(var(--size) * 2));
    }
  }
}

//　リンクボタンの作成
.btn {
  //ボタンの骨格の指定
  display: inline-block; //a要素がインラインなのでボタン内の余白を作るため。
  border-radius: 5px;
  padding: 1rem; //これで内余白をしてい。(1rem=16px)
  line-height: 1;
  transition: 0.3s; //ホバーした時の変化の時間指定
  min-width: 200px; //ボタンの最小幅。ボタンのテキストが増えれば内容量によってボタンも大きくなる。
  text-align: center; //min-width: 200px;でボタンの幅が決まり、中のテキストが左に寄っているので中央に配置。

  //ボタンのスタイルの指定
  //1つ目のボタン
  &-primary {
    background-color: var(--primary);
    color: #fff;

    &:hover {
      background-color: var(--secondary); //ホバーしたときの色
      color: #fff;
    }
  }

  //2種類目のボタン
  &.btn-primary-line {
    border: 1px solid #333;
    color: var(--primary);

    &:hover {
      color: var(--secondary);
    }
  }
}

// headerーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.global-nav {
  //スマホのナビゲーションが開いている時のスタイル
  position: fixed; //画面固定にして
  width: 100; //幅は画面いっぱい
  height: 100%; //高も画面いっぱい
  backdrop-filter: blur(4px); //背景のぼかしも画面いっぱい。()の中はぼかしの度合いを入れる。
  background-color: rgba(#fff, 0.9);
  display: flex; //ナビゲーションのテキスト項目を中央にするため。
  align-items: center; //これで縦軸の中央
  justify-content: center; //これで横軸の中央

  //display: none; //最初はナビゲーションを消す。ボタンが押されたらナビゲーションが開くように下の221行で指定している。
  z-index: -1; //下のopacity: 0;でナビゲーションが透明なだけで一番上に存在していてるのでリンクボタンなどは押せない状態になるもで一番後ろに回す。
  opacity: 0; //ナビゲーションを完全に透明な状態にする。
  transition: opacity 0.3s; //transitionをopacityのみに限定する。

  //ナビゲーションは一番後ろに回したけどやはり消えていないので、サイトの隙間から押せてしまう可能性があるからナビゲーションは高さ幅を無くしてさらに非表示にしておく。
  width: 0;
  height: 0;
  overflow: hidden;


  //スマホのナビゲーションのストライプ型の下線の作成
  ul {
    li {

      //1つ目以外の項目に指定
      &:not(:first-child) {
        margin-top: 1rem;
      }

      a {
        display: block; //幅をもうけてそこにストライプ型の下線をつくるために。aは元々インラインで幅の指定ができないからブロックに。
        width: 240px; //これで下線の幅をもうける。
        padding-bottom: 8px;
        text-align: center;
        position: relative;
        color: var(--text);
        font-size: 1.5rem;

        //下線の骨組み
        &::after {
          content: "";
          position: absolute; //見出しの下に置きたいのでabsoluteをかけて見出しを基準にbottom: 0;で下にくる。
          bottom: 0; //見出しの下余白の16pxにくっつく
          left: 0;
          width: 100%;
          height: 7px; //下線の高さ（縦の幅）

          //下線にストライプを入れる
          --size: 2px; //ストライプのサイズ。変数を使うことでスタイルプの数値をここで直すだけ連動して下の変数の中身が変わる。
          background: repeating-linear-gradient(-45deg,
              #ffffff 0,
              #ffffff var(--size),
              var(--secondary) var(--size),
              var(--secondary) calc(var(--size) * 2));
        }
      }
    }

    //チェックボックス
    &-toggler {
      display: none; //要素を消す
    }

    //３本線のボタン作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    //３本線の配置と領域の指定
    &-btn {
      position: fixed; //ビューポート（画面の表示領域）に対して固定。要素を一番上に配置するため。
      top: 5%; //ビューポート（画面の表示領域）の上から5%の位置。
      right: 5%; //ビューポート（画面の表示領域）の右から5%の位置。
      width: 30px; //幅30pxで３本線の領域の指定。
      height: 30px; //高さ30pxで３本線の領域の指定。
      display: flex; //spanを３本線の真ん中の線にするので、領域ないの中央に配置させるため。
      align-items: center; //縦軸の真ん中に。これでspanの３本線を領域ないの中央に配置させる。
      z-index: 2; //数字は1でもいい。backdrop-filter: blur(4px); で３本線のボタンもぼけているので一番手前に持ってくる。

      //３本線の作成
      span {
        //まずspanの文字を視覚的に消す。（非表示にする）
        text-indent: 100%; //spanのテキストを隠す。(indent＝スペース)を100％にすることでスペースが入りまくって右にずれて枠外に消える。
        white-space: nowrap; ///折り返しさせない。枠外に消えたけど文字の折り返しで戻って来ない用にする。
        display: block; //上記の指定はspanのインラインでは効かないのでブロック要素に変換する。
        overflow: hidden; //非表示にする。spanの文字を非表示にする。
        height: 2px; //線の高さのサイズ
        width: 100%; //線の幅のサイズ
        background-color: #ccc; //線の色
      }

      //3本線の2本の線の作成-------------------------------------------------------
      &::before,
      &::after {
        content: "";
        height: 2px; //線の高さのサイズ
        width: 100%; //線の幅のサイズ
        background-color: #ccc; //線の色
        position: absolute; //２本の線を下、上にずらすため浮かせる。今回はすでに親にposition: fixed;が掛かっているので基準にしたい親にposition: relative;を掛ける必要はない。

        //position: fixed;で２本とも中央に来ていて被っているが、完全に中央にする。top: 50%; これで領域から50%で線の上辺が領域の中央と重なるが線自体は中央よりか少し下になるので、transform: translateY(-50%);`で領域の中央と線の中央が合う様になる。
        top: 50%; //これでYなので縦に動いて領域から50%で線の上辺が領域の中央と重なる
        transform: translateY(-50%); //Yなので縦に動いて領域の中央と線の中央が合う様になる。
        transition: transform 0.3s; //3本線がバツになるときの動きの指定
      }

      //2本のそれぞれをずらしていく指定
      //1本目
      &::before {
        transform: translateY(calc(-50% - 10px)); //-50%は中央に持ってきて- 10pxでマイナス値でさらに上にずらす。
      }

      //2本目
      &::after {
        transform: translateY(calc(-50% + 10px)); //-50%は中央に持ってきて+ 10pxでさらに下にずらす。
      }
    }

    // チェック入ったときにナビゲーションが開く設定
    &-toggler:checked~& {
      //display: flex;
      width: 100px; //上の132行のとこでナビゲーションのは高さ幅を無くしてさらに非表示にしているのでチェック入ったときに画面にいっぱいにする。
      height: 100px; //上の132行のとこでナビゲーションのは高さ幅を無くしてさらに非表示にしているのでチェック入ったときに画面にいっぱいにする。
      overflow: auto; //上の132行のとこでナビゲーションのは高さ幅を無くしてさらに非表示にしているのでチェック入ったときに表示させる。
      opacity: 1;
      z-index: 1;
    }

    // ボタンを押した時に３本線がバツに変わる指定ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    //1本目
    //&-togglerにcheckedが入ったときの兄弟の&-btn spanということ。
    &-toggler:checked~&-btn span {
      opacity: 0; //ボタンが押された時にまずspanの真ん中線が透明になって消えているようにする。
      transition: opacity 0.3s; //押した時にふわっと消えるようにする。
    }

    //2本目
    &-toggler:checked~&-btn::before {
      transform: translateY(-50%) rotate(45deg); //translateY(-50%)でまず位置を中央に戻すしてrotate(45deg)で回転。
      //押した時にふわっと消えるようにする。
      background-color: var(--text);
    }

    //3本目
    &-toggler:checked~&-btn::after {
      transform: translateY(-50%) rotate(-45deg); //translateY(-50%)でまず位置を中央に戻すしてrotate(-45deg)で回転。
      background-color: var(--text);
    }

    //PCの設定＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    @include mq {
      //ナビゲーションの設定
      width: 100%;
      height: auto;
      overflow: auto;
      opacity: 1;
      z-index: initial; //SPのときの一番後ろから初期値で元に戻す。
      border: blur(0px); //SPのときのぼかしを消す。
      background-color: transparent; //SPのときの背景色を初期値で消す。
      display: block; //ブロックにしてSPのdisplay: flex;を消す。
      padding: 1rem 0; //項目がサイトページの上にくっついてるのを余白で下に下げる。



      ul {
        max-width: 1200px;
        margin-left: auto; //中央揃え
        margin-right: auto; //中央揃え
        display: flex; //liが横並び
        justify-content: flex-end; //liの項目をul内の右寄せ

        li {
          &:not(:first-child) {
            margin-top: 0; //SPの時の1つ目以外の項目に余白をつけたのを打ち消し。
            margin-left: 4rem; //項目の間を開ける。
          }

          a {
            font-size: 1rem; //フォントサイズを元に戻す。(1rem=16px)
            width: auto; //箱のサイズを文字の量に対しての幅にする。これで箱も小さくなる。
            padding-bottom: 0; //
            color: var(--primary);
            text-shadow: 0 0 5px #ccc; //これで項目に陰を作って背景の画像に見た目が負けない様にする。

            //ストライプ型の下線を消す。
            &::after {
              content: none; //これで作った下線を打ち消し。
            }

          }
        }
      }


      //３本線のボタンの設定
      &-btn {
        display: none; //PCの画面では３本線のボタンは消す。600pxまで画面幅を小さくすると表示される。
      }





    }

  } // .global-nav 
